/* These inject tags are used for dynamically creating imports for themelet styles, you can place them where ever you like in this file. */

/* inject:imports */
/* endinject */

/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

$background-color: #d6d7d9;
$hover-background-color: #e3e4e6;
$font-color-dark: #333;
$font-color-medium: #555;
$table-head-background-color: #f0efef;
$table-head-font-color: #3b89af;
$user-avatar-image-border-color: #7a7a7a;
$dockbar-background-color-gradient-top: #f4f4f4;
$dockbar-background-color-gradient-bottom: #f9fbfa;
$btn-background-color-gradient-top: #fefeff;
$btn-background-color-gradient-bottom: #eff6ff;
$btn-font-color: #404040;

html {
	height: 100%;
}

body {
	font-size: 9px;
	color: $font-color-medium;
	height: 99%;
	
	.modal-dialog {
		.modal-header {
			padding-bottom: 30px;
			
			.modal-title {
				font-size: 9px;
				color: $font-color-medium;
				float: left;
				font-weight: bold;
			}
		}
	}
	
	.lfr-notification-container {
		max-width: none;
		padding-left: 0;
	    padding-right: 0;
	    padding-top: 0;
	    top: 5px;
	    max-height: 65px;
	    overflow: hidden;
	    
	    .lfr-notification-wrapper {
	    	line-height: 30px;
	    	
	    	.liferaynotification-content {
    			font-size: 10px;
    		    padding: 9px 14px;
   				border-radius: 2px;
    				
	    		&.alert-danger {
    			    background-color: #eee0e0;
				    border-color: #d05a5a;
				    color: #ce5657;
				    font-weight: bold;
				    
				    button {
		    			display: none;
		    		}
	    		}
	    		
	    		&.alert-warning {
	    			background-color: #fffbdc;
	    			border-color: #f1d875;
	    			color: #bf7900;
	    			
	    			button {
	    				    display: inline-block;
						    padding: 4px 12px;
						    margin-bottom: 0;
						    font-size: 9px;
						    line-height: 20px;
						    text-align: center;
						    vertical-align: middle;
						    cursor: pointer;
						    color: #333;
						    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
						    background-color: #f8faff;
						    background-image: -moz-linear-gradient(top,#fefeff,#eff6ff);
						    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fefeff),to(#eff6ff));
						    background-image: -webkit-linear-gradient(top,#fefeff,#eff6ff);
						    background-image: -o-linear-gradient(top,#fefeff,#eff6ff);
						    background-image: linear-gradient(to bottom,#fefeff,#eff6ff);
						    background-repeat: repeat-x;
						    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFEFEFF',endColorstr='#FFEFF6FF',GradientType=0);
						    border-color: #eff6ff #eff6ff #a3cbff;
						    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
						    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
						    border: 1px solid #cfcfcf;
						    border-bottom-color: #b5b5b5;
						    -webkit-border-radius: 2px;
						    -moz-border-radius: 2px;
						    border-radius: 2px;
						    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
						    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
						    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
	    			}
	    		}
	    		
	    		button {
	    			&.close {
	    				display: none;
	    			}
	    		}
	    		
	    		div {
	    			.lead {
	    				display: none;
	    			}
	    		}
	    	}
	    }
	}
}

div {
	&.flipped {
		height: 99%;
	}
}

.table-bordered {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    
	thead {
		tr {
			th {
				color: $table-head-font-color;
				background-color: $table-head-background-color;
				border-bottom-width: 0;
				line-height: 18px;
				
				.table-sort-liner {
					text-decoration: underline;
					
					a {
						&:hover {
							color: $table-head-font-color;
						}
					}
				}
			}
		}
	}
	
	tbody {
		tr {
			height: 47px;
			
			td {
				vertical-align: middle;
				padding-top: 3px;
				padding-bottom: 3px;
				
				&.last {
					text-align: left;
					
					&.text-right {
						text-align: inherit;
					}
					
					.dropdown-toggle {
						margin-top: 5px;
						margin-bottom: 5px;
					}
				}
			}
			
			&:hover {
				background-color: #edf8fd;
			}
		}
	}
}

.control-panel-form, .portlet-users-admin-edit-user, .portlet-users-admin-edit-organization {
	.btn {
		width: 120px;
	    color: $btn-font-color;
	    margin: 10px 0px 0px 0px;
	    padding: 4px 12px;
	    font-size: 9px;
	    line-height: 20px;
	    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
	    background-color: #f8faff;
	    background-image: -moz-linear-gradient(top,$btn-background-color-gradient-top,$btn-background-color-gradient-bottom);
	    background-image: -webkit-gradient(linear,0 0,0 100%,from($btn-background-color-gradient-top),to($btn-background-color-gradient-bottom));
	    background-image: -webkit-linear-gradient(top,$btn-background-color-gradient-top,$btn-background-color-gradient-bottom);
	    background-image: -o-linear-gradient(top,$btn-background-color-gradient-top,$btn-background-color-gradient-bottom);
	    background-image: linear-gradient(to bottom,$btn-background-color-gradient-top,$btn-background-color-gradient-bottom);
	    background-repeat: repeat-x;
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFEFEFF',endColorstr='#FFEFF6FF',GradientType=0);
	    border-color: $btn-background-color-gradient-bottom $btn-background-color-gradient-bottom #a3cbff;
	    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	    border: 1px solid #cfcfcf;
	    border-bottom-color: #b5b5b5;
	    -webkit-border-radius: 2px;
	    -moz-border-radius: 2px;
	    border-radius: 2px;
	    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
	    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
	    
	    &:active {
	    	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	    	background-image: none;
		    outline: 0;
		    -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15), 0 1px 2px rgba(0,0,0,0.05);
		    -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
		    box-shadow: inset 0 2px 4px rgba(0,0,0,0.15), 0 1px 2px rgba(0,0,0,0.05);
	    }
	    
	    &:focus {
	    	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	    	outline: 5px auto -webkit-focus-ring-color;
			outline-offset: -2px;
	    }
	    
	    &:hover, &:focus {
    	    background-position: 0 -15px;
		    -webkit-transition: background-position .1s linear;
		    -moz-transition: background-position .1s linear;
		    -o-transition: background-position .1s linear;
		    transition: background-position .1s linear;
	    }
	    
	    &:hover, &:focus, &:active {
	    	color: $btn-font-color;
	    	background-color: #eff6ff;
	    }
	}
	
	.btn-link {
		&:hover, &:focus {
			color: $btn-font-color;
			text-decoration: none;
		}
	}
	
	.control-panel-action {
		&.open {
			.dropdown-toggle {
				background-color: #e6e6e6;
				border-color: #adadad;
				background-image: none;
			    -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15), 0 1px 2px rgba(0,0,0,0.05);
			    -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
			    box-shadow: inset 0 2px 4px rgba(0,0,0,0.15), 0 1px 2px rgba(0,0,0,0.05);
			    
				&:hover {
					color: #333;
				    text-decoration: none;
				    background-position: 0 -15px;
				    -webkit-transition: background-position .1s linear;
				    -moz-transition: background-position .1s linear;
				    -o-transition: background-position .1s linear;
				    transition: background-position .1s linear;
				    background-color: #e6e6e6;
    				border-color: #adadad;
				}
			}
		}
	}
	
	.form-navigator {
		padding-left: 0;
		padding-right: 0;
		border: 1px solid #ddd;
		
		&.col-md-push-8 {
			left: 65%;
		}
		
		.list-group-item {
			border: none;
			
			&.nav-header {
			    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
			    font-size: 9px;
			    background-color: #FFF;
			    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#fff),color-stop(100%,#f2f2f2));
			    background-image: -webkit-linear-gradient(#fff 0,#f2f2f2 100%);
			    background-image: -moz-linear-gradient(#fff 0,#f2f2f2 100%);
			    background-image: -o-linear-gradient(#fff 0,#f2f2f2 100%);
			    background-image: linear-gradient(#fff 0,#f2f2f2 100%);
			    color: #999;
			    line-height: 30px;
			    font-weight: bold;
			    padding: 3px 15px;
			}
			
			&.active {
				border: 0;
				
				a {
					background-color: rgb(71, 69, 69);
					border: 1px solid rgb(71, 69, 69);
					
					&:hover {
						background-color: rgb(71, 69, 69);
						border: 1px solid rgb(71, 69, 69);
					}
				}
			}
		}
		
		.button-holder {
			padding-left: 20px;
			
			.btn {
				margin: 0;
				width: auto;
			}
		}
	}
	
	.form-navigator-content {
		&.col-md-pull-4 {
			right: 32.4%
		}
		
		&.col-md-8 {
			width: 64%;
		}
		
		.form-section {
			.form-group {
				margin-bottom: 0;
			}
			
			input[type="text"], select {
				height: 31px;
				border-radius: 0;
				font-size: 9px;
				width: 253px;
				padding: 6px 12px;
				border: 1px solid #ccc;
			}
		}
	}
	
	.modal {
		.modal-dialog {
			width: 700px;
			position: relative;
			
			.modal-content {
				.modal-header {
				    color: rgb(59, 137, 175);
				    font-weight: bold;
				}
				
				.modal-footer {
					padding: 14px 15px 15px;
				    margin-bottom: 0;
				    text-align: right;
				    background-color: #f5f5f5;
				    border-top: 1px solid #ddd;
				    -webkit-border-radius: 0 0 6px 6px;
				    -moz-border-radius: 0 0 6px 6px;
				    border-radius: 0 0 6px 6px;
				    -webkit-box-shadow: inset 0 1px 0 white;
				    -moz-box-shadow: inset 0 1px 0 white;
				    box-shadow: inset 0 1px 0 white;
				}
			}
		}
	}
}

.portlet-users-admin-edit-organization {
	.form-inline {
		label {
			font-weight: normal;
			
			input[type="checkbox"] {
			    margin-top: 0;
			    float: left;
			    margin-right: 3px;
			}
		}
	}
		
	.form-group {
		float: left;
	}
	
	.edit-org-checkbox-label {
		float: left;
		line-height: 38px;
		padding-left: 5px;
	}
}

div {
	&.container-fluid {
		padding-left: 0;
		padding-right: 0;
		
		&#wrapper {
			margin-top: 0;
			padding-top: 0;
			min-height: 100%;
		}
		
		.portlet-content {
			padding: 0;
		}
		
		.control-panel-form {
			width: 97%;
			line-height: 25px;
			
			.form-group {
				margin: 7px 0;
				
				&.date-input-text {
					border: 1px solid #ccc;
					width: 253px;
					overflow: hidden;
					
					.input-medium {
						border: none;
					}
				}
			}
			
			td {
				&.date-hyphen {
					padding: 0 5px;
				}
			}
			
			input[type="text"], select {
				height: 31px;
				border-radius: 0;
				font-size: 9px;
				width: 253px;
				padding: 6px 12px;
				border: 1px solid #ccc;
			}
			
			#groupFilterModal {
				.modal-dialog {
					width: 400px;
				}
			
				.form-inline {
					&.input-checkbox-wrapper {
						margin-top: 0;
						margin-bottom: 0;
						height: 20px;
					}
					
					label {
						font-weight: normal;
						
						input[type="checkbox"] {
						    margin-top: 6px;
						    float: left;
						    margin-right: 3px;
						}
					}
				}
			}
			
			.filter-modal-label {
				width: 120px;
			}
			
			.filter-modal-input {
				width: 250px;
			}
			
			.alert {
				width: 100%;
				padding: 6px 14px;
				margin: 5px 0 15px 0;
				
				&.alert-success {
					background-color: #ddefe3;
				    border-color: #4bcd61;
				    color: #4bcd61;
				    font-weight: bold;
				}
				
				&.alert-info {
					background-color: #cef1fc;
				    border-color: #9ee3f9;
				    color: #12718f;
				}
				
				&.alert-danger {
					background-color: #eedede;
				    border-color: #cd4b4b;
				    color: #cd4b4b;
				}
			}
		}
		
		.row {
			margin-right: 0;
			
			.col-md-12 {
				padding-right: 0;
				
				.collapse-basic-search {
					min-height: 40px;
				    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,$dockbar-background-color-gradient-top),color-stop(100%,$dockbar-background-color-gradient-bottom));
				    background-image: -webkit-linear-gradient(top,$dockbar-background-color-gradient-top,$dockbar-background-color-gradient-bottom);
				    background-image: -moz-linear-gradient(top,$dockbar-background-color-gradient-top,$dockbar-background-color-gradient-bottom);
				    background-image: -o-linear-gradient(top,$dockbar-background-color-gradient-top,$dockbar-background-color-gradient-bottom);
				    background-image: linear-gradient($dockbar-background-color-gradient-top,$dockbar-background-color-gradient-bottom);
				    -webkit-box-shadow: 0 1px 10px rgba(0,0,0,0.1);
				    -moz-box-shadow: 0 1px 10px rgba(0,0,0,0.1);
				    box-shadow: 0 1px 10px rgba(0,0,0,0.1);
				    border-radius: 0;
				}
			}
		}
		
		.control-panel-header {
			width: 95%;
			border-bottom: 2px solid #84909c;
			margin-bottom: 10px;
			margin-left: auto;
			margin-right: auto;
			
			div {
				display: inline-block;
				padding-right: 10px;
				
				&.control-panel-back {
					.icon-circle-arrow-left {
						font-size: 1.5em;
					}
				}
				
				&.taglib-header {
					border-bottom: none;
					margin-bottom: 0;
					
					.header-title {
						font-size: 10px;
						font-weight: bold;
						color: #006599;
					}
				}
			}
		}
		
		.alert {
			border-radius: 2px;
			margin-left: auto;
			margin-right: auto;
			width: 95%;
			
			&.alert-danger {
				font-weight: bold;
				background-color: #eedede;
			    border-color: #cd4b4b;
			    color: #cd4b4b;
			}
		}
		
		#footer {
			text-align:center;
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 20px;
			left: 0;
		}
	}
}

.container-fluid-1280 {
	max-width: none;
	
	.nav {
		&.brand {
			letter-spacing: 1px;
			font-size: 20px;
			
			.control-panel-back {
				display: inline-block;
				color: $btn-font-color;
				
				.control-panel-back-link {
					margin: 0 15px;
					color: $btn-font-color;
					font-weight: 100;
					text-shadow: none;
					text-decoration: none;
				}
				
				a {
					&.icon-circle-arrow-left {
						&:hover, &:focus {
							text-decoration: none;
						}
					}
				}
			}
		}
	}
	
	.control-panel-site-links {
		letter-spacing: 1px;
		
		li {
			a {
				line-height: 10px;
			}
			
			&.control-panel-users, &.control-panel-configuration {
				a {
					&:hover {
						border-radius: 4px;
						background-color: #f4f4f4;
						background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#fcfdff),color-stop(100%,#f1f5fe));
					    background-image: -webkit-linear-gradient(top,#fcfdff,#f1f5fe);
					    background-image: -moz-linear-gradient(top,#fcfdff,#f1f5fe);
					    background-image: -o-linear-gradient(top,#fcfdff,#f1f5fe);
					    background-image: linear-gradient(#fcfdff,#f1f5fe);
					    -webkit-box-shadow: none;
					    -moz-box-shadow: none;
					    box-shadow: none;
					}
				}
					
				&.active {
					a {
						border-radius: 4px;
						background-color: #f4f4f4;
						background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#fcfdff),color-stop(100%,#f1f5fe));
					    background-image: -webkit-linear-gradient(top,#fcfdff,#f1f5fe);
					    background-image: -moz-linear-gradient(top,#fcfdff,#f1f5fe);
					    background-image: -o-linear-gradient(top,#fcfdff,#f1f5fe);
					    background-image: linear-gradient(#fcfdff,#f1f5fe);
					    -webkit-box-shadow: none;
					    -moz-box-shadow: none;
					    box-shadow: none;
					}
				}
				
				.nav-item-icon {
					width: 40px;
				    height: 26px;
				    background-position: 50%;
				    background-repeat: no-repeat;
				    display: inline-block;
				    margin-top: -7px;
				    position: absolute;
				    
				    &.icon-user {
						background-image: url(/o/control-panel-theme/images/dockbar_users.png);
					    
					    &:before {
					    	content: ' ';
					    }
					}
					
					&.icon-globe {
						background-image: url(/o/control-panel-theme/images/dockbar_sites.png);
					    
					    &:before {
					    	content: ' ';
					    }
					}
				}
				
				.nav-item-label {
			    	padding-left: 45px;
			    	color: $font-color-dark;
			    }
			}
		}
	}
	
	.control-nav-account-controls {
		li {
			display: inline-block;
			float: right;
			color: $font-color-dark;
			
			&.user-avatar {
				&.open {
					.dropdown-toggle {
						background-color: $background-color;
					}
					
					.dropdown-menu {
						left: auto;
					    right: 0;
					    border-radius: 0;
					    background-color: $background-color;
					    font-size: 9px;
					    margin: 0;
					    border-width: 0;
					    color: $font-color-medium;
					    
					    li {
					    	float: left;
					    	width: 100%;
					    	
					    	a {
					    		height: 24px;
					    		line-height: 18px;
					    		
					    		&:hover {
					    			background-color: $hover-background-color;
					    		}
					    	}
					    }
					    
					    .manual-dropdown {
					    	margin-top: 10px;
					    	margin-bottom: 10px;
					    	
					    	&.open {
					    		.dropdown-toggle {
					    			background-color: $hover-background-color;
					    		}
					    	}
					    	
					    	.dropdown-toggle {
								color: $font-color-dark;
								width: 160px;
							    border: none;
							    border-radius: 0;
							    text-align: left;
							    padding-left: 20px;
							    box-shadow: none;
							    background-color: $background-color;
							    font-size: 9px;
							    
							    &:hover {
							    	background-color: $hover-background-color;
							    }
							}
					    }
					}
				}
				
				.dropdown-toggle {
					&:hover, &:focus {
						background-color: $background-color;
					}
				}
			}
			
			&.divider-vertical {
				line-height: 39px;
				padding-right: 10px;
		    	padding-left: 10px;
			}
			
			a {
				color: $font-color-dark;
				
				.user-avatar-image {
					width: 20px;
					border-radius: 50%;
	    			-webkit-box-shadow: 0 0 0 2px $user-avatar-image-border-color;
	    			-moz-box-shadow: 0 0 0 2px $user-avatar-image-border-color;
	    			box-shadow: 0 0 0 2px $user-avatar-image-border-color;
				}
			}
		}
	}
}

.manual-dropdown-menu {
	background-color: $background-color;
	position: relative;
    float: none;
    top: 100%;
    left: 0px;
    z-index: 1000;
    min-width: 160px;
    padding: 5px 0px;
    list-style: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px;
    background-clip: padding-box;
    
    .lfr-icon-item {
    	color: $font-color-medium;
		display: block;
		padding-left: 10px;
		height: 25px;
		padding-top: 6px;
		
		&:hover {
			background-color: $hover-background-color;
		}
    }
    
    &.direction-left {
		margin-left: -2px;
		margin-right: 2px;
	}
}

.dropdown-menu {
	&.direction-left {
		margin-top: 0;
		margin-right: 2px;
		margin-bottom: 0;
		margin-left: -2px;
	}
	
	.control-panel-action-icon {
		font-size: 9px;
		
		.lfr-icon-item {
			&:hover {
				color: white;
			    text-decoration: none;
			    background-color: #0db5e7;
			    background-image: -moz-linear-gradient(top,#0ebdf1,#0caad9);
			    background-image: -webkit-gradient(linear,0 0,0 100%,from(#0ebdf1),to(#0caad9));
			    background-image: -webkit-linear-gradient(top,#0ebdf1,#0caad9);
			    background-image: -o-linear-gradient(top,#0ebdf1,#0caad9);
			    background-image: linear-gradient(to bottom,#0ebdf1,#0caad9);
			    background-repeat: repeat-x;
			}
		}
	}
}