/* These inject tags are used for dynamically creating imports for themelet styles, you can place them where ever you like in this file. */

/* inject:imports */
/* endinject */

/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

$font-color-dark: #333;
$font-color-medium: #555;
$dockbar-background-color: #4b4b4b;
$dockbar-dropdown-hover-background-color: #d4d4d4;
$dockbar-dropdown-background-color: #7a7a7a;
$navbar-border-color: #e3e4e6;
$navbar-background-color-top: #f4f5f7;
$navbar-background-color-bottom: #fefefe;
$navbar-links-border-color: #d4d4d4;
$navbar-hover-background-color: #a3a3a3;
$navbar-links-background-color-gradient-top: #eef5ff;
$navbar-links-background-color-gradient-bottom: #ffffff;
$btn-background-color-gradient-top: #fefeff;
$btn-background-color-gradient-bottom: #eff6ff;
$table-head-font-color: #3b89af;
$table-head-background-color: #f0efef;

/* ---------- Base styles ---------- */

html {
	height: 100%;
}

body {
	font-size: 9px;
	color: $font-color-medium;
	height: 99%;
	
	.modal-dialog {
		.modal-header {
			padding-bottom: 30px;
			
			.modal-title {
				font-size: 9px;
				color: $font-color-medium;
				float: left;
				font-weight: bold;
			}
		}
	}
	
	.lfr-notification-container {
		max-width: none;
		padding-left: 0;
	    padding-right: 0;
	    padding-top: 0;
	    top: 5px;
	    max-height: 65px;
	    overflow: hidden;
	    
	    .lfr-notification-wrapper {
	    	line-height: 30px;
	    	
	    	.liferaynotification-content {
	    		font-size: 10px;
			    padding: 9px 14px;
		        border-radius: 2px;
		        
	    		&.alert-danger {
    			    background-color: #eee0e0;
				    border-color: #d05a5a;
				    color: #ce5657;
				    font-weight: bold;
				    
				     button {
		    			display: none;
		    		}
	    		}
	    		
	    		&.alert-warning {
	    			background-color: #fffbdc;
	    			border-color: #f1d875;
	    			color: #bf7900;
	    			
	    			 button {
		    			    display: inline-block;
						    padding: 4px 12px;
						    margin-bottom: 0;
						    font-size: 9px;
						    line-height: 20px;
						    text-align: center;
						    vertical-align: middle;
						    cursor: pointer;
						    color: #333;
						    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
						    background-color: #f8faff;
						    background-image: -moz-linear-gradient(top,#fefeff,#eff6ff);
						    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fefeff),to(#eff6ff));
						    background-image: -webkit-linear-gradient(top,#fefeff,#eff6ff);
						    background-image: -o-linear-gradient(top,#fefeff,#eff6ff);
						    background-image: linear-gradient(to bottom,#fefeff,#eff6ff);
						    background-repeat: repeat-x;
						    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFEFEFF',endColorstr='#FFEFF6FF',GradientType=0);
						    border-color: #eff6ff #eff6ff #a3cbff;
						    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
						    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
						    border: 1px solid #cfcfcf;
						    border-bottom-color: #b5b5b5;
						    -webkit-border-radius: 2px;
						    -moz-border-radius: 2px;
						    border-radius: 2px;
						    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
						    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
						    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
		    		}
	    		}
	    		
	    		button {
	    			&.close {
	    				display: none;
	    			}
	    		}
	    		
	    		div {
	    			.lead {
	    				display: none;
	    			}
	    		}
	    	}
	    }
	}
}

div {
	&.flipped {
		height: 99%;
	}
}

.nav-account-controls {
	position: fixed;
	border-top: 1px solid #939393;
	top: 0;
    right: 5em;
    z-index: 325;
    padding-right: 5px;
    background-color: $dockbar-background-color;
    
    .divider-vertical {
    	width: auto;
    	height: 47px;
    	margin-right: 0;
    	margin-left: 0;
    	border-left: none;
    	border-right: 0;
    	padding-top: 8px;
    	padding-bottom: 8px;
    	padding-right: 10px;
    	padding-left: 10px;
    	font-weight: 200;
    }
    
    li {
    	display: inline-block;
    	background-color: $dockbar-background-color;
    	color: white;
    	float: left;
    	line-height: 31px;
    	
    	&.user-avatar {
    		&.open {
    			.dropdown-toggle {
					background-color: $dockbar-dropdown-background-color;
				}
				
				.dropdown-menu {
		    		background-color: $dockbar-dropdown-background-color;
					border-radius: 0;
					margin-top: 0;
					border: none;
					font-size: 9px;
					right: -5px;
					left: auto;
					
					li {
						width: 160px;
						background-color: $dockbar-dropdown-background-color;
						
						a {
							line-height: 21px;
							
							&:hover {
								background-color: $dockbar-dropdown-hover-background-color;
								color: white;
							}
						}
					}
					
					.manual-dropdown {
						margin-top: 5px;
						margin-bottom: 5px;
						
						&.open {
							.dropdown-toggle {
								background-color: $dockbar-dropdown-hover-background-color;
							}
						}
						
						.dropdown-toggle {
							color: white;
						    width: 160px;
						    border: none;
						    border-radius: 0;
						    text-align: left;
						    padding: 0 20px;
						    box-shadow: none;
						    font-size: 9px;
						    
						    &:hover {
						    	background-color: $dockbar-dropdown-hover-background-color;
						    }
						}
					}
		    	}
    		}
    	}
    	
    	a {
    		color: white;
    		line-height: 27px;
    		
    		&:hover, &:focus {
    			background-color: $dockbar-dropdown-background-color;
    		}
    		
    		.user-avatar-image {
    			border-radius: 50%;
    			-webkit-box-shadow: 0 0 0 2px $dockbar-dropdown-background-color;
    			-moz-box-shadow: 0 0 0 2px $dockbar-dropdown-background-color;
    			box-shadow: 0 0 0 2px $dockbar-dropdown-background-color;
    			width: 20px;
    		}
    	}
    }
}

.manual-dropdown-menu {
	background-color: $dockbar-dropdown-background-color;
	position: relative;
    float: none;
    top: 100%;
    left: 0px;
    z-index: 1000;
    min-width: 160px;
    padding: 5px 0px;
    list-style: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px;
    background-clip: padding-box;
    
    &.direction-left {
    	margin-left: -2px;
    	margin-right: 2px;
    }
    
    li {
    	line-height: 27px;
    	
		a {
			color: white;
			display: block;
   			padding-left: 10px;
   			
   			&:hover {
				background-color: $dockbar-dropdown-hover-background-color;
			}
		}
	}
}


div {
	&.container-fluid {
		&#wrapper {
			margin-top: 0;
			padding-top: 0;
			min-height: 100%;
		}
		
		.portlet-users-admin-edit-user {
			input[type="password"] {
				height: 31px;
				border-radius: 0;
				font-size: 9px;
				width: 253px;
				padding: 6px 12px;
			}
		}
				
		.portlet-icon-back {
			display: none;
		}
		
		.alert {
		    border-radius: 2px;
		    font-size: 10px;
		    line-height: 14px;
		    
		    &.alert-danger {
		    	background-color: #eee0e0;
			    border-color: #d05a5a;
			    color: #ce5657;
			    font-weight: bold;
			    
			    &.hideError {
					display: none;
				}
		    }
		    
		    &.alert-info {
		    	background-color: #cef1fc;
			    border-color: #9ee3f9;
			    color: #12718f;
		    }
		    
		    &.alert-success {
		    	background-color: #ddefe3;
			    border-color: #4bcd61;
			    color: #67d47b;
			    font-weight: bold;
		    }
		}
		
		.sign-in-form {
			margin-top: 20px; 
			
			.sign-in-label {
				width: 180px;
				vertical-align: text-top;
				line-height: 31px;
			}
			
			.form-group {
				margin-bottom: 25px;
			}
			
			input[type="text"], input[type="password"] {
				height: 31px;
				border-radius: 0;
				font-size: 9px;
				width: 253px;
				padding: 6px 12px;
			}
			
			.btn {
				width: 120px;
			    color: #404040;
			    margin: 10px 0px 0px 0px;
			    padding: 4px 12px;
			    font-size: 9px;
			    line-height: 20px;
			    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
			    background-color: #f8faff;
			    background-image: -moz-linear-gradient(top,$btn-background-color-gradient-top,$btn-background-color-gradient-bottom);
			    background-image: -webkit-gradient(linear,0 0,0 100%,from($btn-background-color-gradient-top),to($btn-background-color-gradient-bottom));
			    background-image: -webkit-linear-gradient(top,$btn-background-color-gradient-top,$btn-background-color-gradient-bottom);
			    background-image: -o-linear-gradient(top,$btn-background-color-gradient-top,$btn-background-color-gradient-bottom);
			    background-image: linear-gradient(to bottom,$btn-background-color-gradient-top,$btn-background-color-gradient-bottom);
			    background-repeat: repeat-x;
			    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFEFEFF',endColorstr='#FFEFF6FF',GradientType=0);
			    border-color: $btn-background-color-gradient-bottom $btn-background-color-gradient-bottom #a3cbff;
			    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
			    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
			    border: 1px solid #cfcfcf;
			    border-bottom-color: #b5b5b5;
			    -webkit-border-radius: 2px;
			    -moz-border-radius: 2px;
			    border-radius: 2px;
			    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
			    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
			    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
			}
		}	
		
		.sort-pages {
			margin-bottom: 6px;
			overflow: visible;
			
			.navigation-bar {
			    border-radius: 0;
			    box-shadow: none;
			    background-color: $navbar-background-color-top;
			    background-image: linear-gradient($navbar-background-color-top 0,$navbar-background-color-top 47%,$navbar-background-color-bottom 100%);
			    border-width: 0;
			    min-height: 38px;
			    border-top: thin solid $navbar-border-color;
			    border-bottom: thin solid $navbar-border-color;
			    padding-left: 20px;
			    padding-right: 20px;
			    
			    .navigation-bar-inner {
			    	height: auto!important;
				    overflow: visible!important;
				    position: relative;
				    transition: height .35s ease;
				    
				    .site-pages {
				    	position: relative;
					    left: 0;
					    display: block;
					    float: left;
					    margin: 0 10px 0 0;
					    list-style: none;
					    padding-left: 0;
					    
					    .lfr-nav-item {
					    	position: relative;
    						border-right: thin solid $navbar-links-border-color;
    						display: inline-block;
    						height: 37px;
    						margin-left: -2px;
    						
    						&:first-child {
    							border-left: thin solid $navbar-links-border-color;
    							margin-left: 0;
    						}
    						
    						&.selected {
    							a {
    								background-color: $navbar-links-background-color-gradient-top;
								    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,$navbar-links-background-color-gradient-top),color-stop(47%,$navbar-links-background-color-gradient-top),color-stop(100%,$navbar-links-background-color-gradient-bottom));
								    background-image: -webkit-linear-gradient($navbar-links-background-color-gradient-top 0,$navbar-links-background-color-gradient-top 47%,$navbar-links-background-color-gradient-bottom 100%);
								    background-image: -moz-linear-gradient($navbar-links-background-color-gradient-top 0,$navbar-links-background-color-gradient-top 47%,$navbar-links-background-color-gradient-bottom 100%);
								    background-image: -o-linear-gradient($navbar-links-background-color-gradient-top 0,$navbar-links-background-color-gradient-top 47%,$navbar-links-background-color-gradient-bottom 100%);
								    background-image: linear-gradient($navbar-links-background-color-gradient-top 0,$navbar-links-background-color-gradient-top 47%,$navbar-links-background-color-gradient-bottom 100%);
								    -webkit-box-shadow: none;
								    -moz-box-shadow: none;
								    box-shadow: none;
								    
								    &:hover {
								    	color: $font-color-dark;
								    	text-decoration: none;
								    }
    							}
    						}
    						
					    	a {
					    		line-height: 38px;
							    padding: 14px 15px 12px 14px;
							    padding-left: 14px;
							    color: $font-color-dark;
							    
							    &:hover, &:focus {
							    	text-decoration: none;
							    	color: white;
							    	background-color: $navbar-hover-background-color;
							    }
					    	}
					    }
				    }
			    }
			}
		}
		
		.cxsuite-portlet, .android-portlet, .ios-portlet, .vex-portlet {
			line-height: 25px;
			
			.edit-project-form {
				.input-row {
					height: 50px;
				}
				
				input[type="text"], select {
					width: 503px;
					border: 1px solid #ccc;
				}
				
				.date-input-text {
					width: 503px;
					
					.lfr-input-date {
						.input-medium {
							width: 503px;
							border: none;
						}
					}
				}
				
				.sort {
					display: block;
					height: 8px;
					z-index: 1;
					width: 8px;
					
					&.sort-up-link {
						position: relative;
					}
					
					&.sort-down-link {
						margin-top: 0px;
						position: absolute;
					}
				}
				
				.sort-icon {
					position: absolute;
					
					&.sort-up-icon {
						margin-top: -8px;
						height: 8px;
					}
					
					&.sort-down-icon {
						margin-top: -6px;
					}
				}
				
				.user-selection {
					width: 503px;
					overflow: scroll;
					border: 1px solid #ccc;
					
					&.selected-users {
						height: 300px;
						margin-top: -10px;
					}
					
					&.available-users {
						height: 150px;
					}
				}
				
				.user-filter-btn {
					width: 90px;
				}
				
				.user-btn {
					width:75px;
				}
				
				.cancel-btn {
					width: 94px;
				}
				
				.selectable .ui-selecting {
			    	background: rgb(30, 144, 255);
			    	color: white;
				}
				
				.selectable .ui-selected {
					background: rgb(30, 144, 255);
					color: white;
				}
				
				.aui a:hover {
					color: #AAA;
				}
				
				.icon-sort-up, .icon-sort-down {
					color: #AAA;
				}
				
				.icon-sort-up:before, .icon-sort-down:before {
					height: 8px;
				}
				
				.hideInput {
					display:none;
				}
				
				.menuOptions {
					width: 100%;
					height: auto;
					float:
					left;
					text-align:
					left;
					margin-top: 0;
					margin-left: 0;
					padding: 0;
					list-style-type: none;
					
					li {
						cursor: pointer;
						white-space:nowrap;
						line-height: 20px;
						min-width: 100%;
					}
				}
				
				.process {
					table {
						td:first-child {
							padding-left: 8px;
						}
					}
				}
			}
			
			.edit-scan-form {
				line-height: 20px;
			}
			
			.multiple-select {
				height: auto;
			}
			
			.btn {
				width: 120px;
			    color: #404040;
			    margin: 10px 0px 0px 0px;
			    padding: 4px 12px;
			    font-size: 9px;
			    line-height: 20px;
			    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
			    background-color: #f8faff;
			    background-image: -moz-linear-gradient(top,$btn-background-color-gradient-top,$btn-background-color-gradient-bottom);
			    background-image: -webkit-gradient(linear,0 0,0 100%,from($btn-background-color-gradient-top),to($btn-background-color-gradient-bottom));
			    background-image: -webkit-linear-gradient(top,$btn-background-color-gradient-top,$btn-background-color-gradient-bottom);
			    background-image: -o-linear-gradient(top,$btn-background-color-gradient-top,$btn-background-color-gradient-bottom);
			    background-image: linear-gradient(to bottom,$btn-background-color-gradient-top,$btn-background-color-gradient-bottom);
			    background-repeat: repeat-x;
			    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFEFEFF',endColorstr='#FFEFF6FF',GradientType=0);
			    border-color: $btn-background-color-gradient-bottom $btn-background-color-gradient-bottom #a3cbff;
			    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
			    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
			    border: 1px solid #cfcfcf;
			    border-bottom-color: #b5b5b5;
			    -webkit-border-radius: 2px;
			    -moz-border-radius: 2px;
			    border-radius: 2px;
			    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
			    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
			    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
			    
			    &:active {
			    	background-image: none;
				    outline: 0;
				    -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15), 0 1px 2px rgba(0,0,0,0.05);
				    -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
				    box-shadow: inset 0 2px 4px rgba(0,0,0,0.15), 0 1px 2px rgba(0,0,0,0.05);
			    }
			    
			    &:focus {
			    	outline: 5px auto -webkit-focus-ring-color;
    				outline-offset: -2px;
			    }
			    
			    &:hover, &:focus {
		    	    background-position: 0 -15px;
				    -webkit-transition: background-position .1s linear;
				    -moz-transition: background-position .1s linear;
				    -o-transition: background-position .1s linear;
				    transition: background-position .1s linear;
			    }
			    
			    &:hover, &:focus, &:active {
			    	 background-color: #eff6ff;
			    }
			}
			
			.form-group {
				margin: 7px 0;
			}
			
			.date-input-text {
				border: 1px solid #ccc;
				width: 253px;
				overflow: hidden;
			}
			
			td {
				&.date-hyphen {
					padding: 0 5px;
				}
			}
			
			#downloadSummaryModal {
				.modal-dialog {
					width: 585px;
				}
			}
			
			.modal {
				.modal-dialog {
					width: 700px;
					position: relative;
					
					.modal-content {
						.modal-header {
						    color: rgb(59, 137, 175);
						    font-weight: bold;
						}
						
						.modal-footer {
							padding: 14px 15px 15px;
						    margin-bottom: 0;
						    text-align: right;
						    background-color: #f5f5f5;
						    border-top: 1px solid #ddd;
						    -webkit-border-radius: 0 0 6px 6px;
						    -moz-border-radius: 0 0 6px 6px;
						    border-radius: 0 0 6px 6px;
						    -webkit-box-shadow: inset 0 1px 0 white;
						    -moz-box-shadow: inset 0 1px 0 white;
						    box-shadow: inset 0 1px 0 white;
						}
						
						.modal-body {
							td:first-child {
								padding-right: 10px;
							}
						}
					}
				}
			}
			
			input[type="text"], input[type="password"], select {
				height: 31px;
				border-radius: 0;
				font-size: 9px;
				width: 253px;
				padding: 6px 12px;
				
				&.input-medium {
					border: none;
				}
			}
			
			textarea {
				border-radius: 0;
				font-size: 9px;
				padding: 6px 12px;
				height: 50px;
			}
			
			.portlet-action {
				float: left;
				
				&.open {
					.dropdown-toggle {
						background-color: #e6e6e6;
						border-color: #adadad;
						background-image: none;
					    -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15), 0 1px 2px rgba(0,0,0,0.05);
					    -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
					    box-shadow: inset 0 2px 4px rgba(0,0,0,0.15), 0 1px 2px rgba(0,0,0,0.05);
					    
						&:hover {
							color: #333;
						    text-decoration: none;
						    background-position: 0 -15px;
						    -webkit-transition: background-position .1s linear;
						    -moz-transition: background-position .1s linear;
						    -o-transition: background-position .1s linear;
						    transition: background-position .1s linear;
						    background-color: #e6e6e6;
		    				border-color: #adadad;
						}
					}
				}
			}
		}
		
		#portlet_new-password {
			.portlet-content {
				padding: 10px 0;
			}
			
			.initial-password-change-form {
				.form-group {
					margin-bottom: 10px;
					
					input[type="password"] {
						height: 31px;
						border-radius: 0;
						font-size: 9px;
						width: 253px;
						padding: 6px 12px;
					}
				}
			}
			
			.button-holder {
				.btn {
					width: 120px;
				    color: #404040;
				    margin: 10px 0px 0px 0px;
				    padding: 4px 12px;
				    font-size: 9px;
				    line-height: 20px;
				    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
				    background-color: #f8faff;
				    background-image: -moz-linear-gradient(top,$btn-background-color-gradient-top,$btn-background-color-gradient-bottom);
				    background-image: -webkit-gradient(linear,0 0,0 100%,from($btn-background-color-gradient-top),to($btn-background-color-gradient-bottom));
				    background-image: -webkit-linear-gradient(top,$btn-background-color-gradient-top,$btn-background-color-gradient-bottom);
				    background-image: -o-linear-gradient(top,$btn-background-color-gradient-top,$btn-background-color-gradient-bottom);
				    background-image: linear-gradient(to bottom,$btn-background-color-gradient-top,$btn-background-color-gradient-bottom);
				    background-repeat: repeat-x;
				    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFEFEFF',endColorstr='#FFEFF6FF',GradientType=0);
				    border-color: $btn-background-color-gradient-bottom $btn-background-color-gradient-bottom #a3cbff;
				    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
				    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
				    border: 1px solid #cfcfcf;
				    border-bottom-color: #b5b5b5;
				    -webkit-border-radius: 2px;
				    -moz-border-radius: 2px;
				    border-radius: 2px;
				    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
				    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
				    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
				    
				    &:active {
				    	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
				    	background-image: none;
					    outline: 0;
					    -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15), 0 1px 2px rgba(0,0,0,0.05);
					    -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
					    box-shadow: inset 0 2px 4px rgba(0,0,0,0.15), 0 1px 2px rgba(0,0,0,0.05);
				    }
				    
				    &:focus {
				    	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
				    	outline: 5px auto -webkit-focus-ring-color;
						outline-offset: -2px;
				    }
				    
				    &:hover, &:focus {
			    	    background-position: 0 -15px;
					    -webkit-transition: background-position .1s linear;
					    -moz-transition: background-position .1s linear;
					    -o-transition: background-position .1s linear;
					    transition: background-position .1s linear;
				    }
				    
				    &:hover, &:focus, &:active {
				    	color: #404040;
				    	background-color: #eff6ff;
				    }
				}
			}
		}
		
		#footer {
			text-align:center;
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 20px;
			left: 0;
		}
	}
	&#signinmodal, #login-form  {
	
			input[type="text"], input[type="password"] {
				height: 31px;
				border-radius: 0;
				font-size: 9px;
				width: 253px;
			}
			
			.btn {
				width: 120px;
			    color: #404040;
			    margin: 10px 0px 0px 0px;
			    padding: 4px 12px;
			    font-size: 9px;
			    line-height: 20px;
			    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
			    background-color: #f8faff;
			    background-image: -moz-linear-gradient(top,$btn-background-color-gradient-top,$btn-background-color-gradient-bottom);
			    background-image: -webkit-gradient(linear,0 0,0 100%,from($btn-background-color-gradient-top),to($btn-background-color-gradient-bottom));
			    background-image: -webkit-linear-gradient(top,$btn-background-color-gradient-top,$btn-background-color-gradient-bottom);
			    background-image: -o-linear-gradient(top,$btn-background-color-gradient-top,$btn-background-color-gradient-bottom);
			    background-image: linear-gradient(to bottom,$btn-background-color-gradient-top,$btn-background-color-gradient-bottom);
			    background-repeat: repeat-x;
			    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFEFEFF',endColorstr='#FFEFF6FF',GradientType=0);
			    border-color: $btn-background-color-gradient-bottom $btn-background-color-gradient-bottom #a3cbff;
			    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
			    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
			    border: 1px solid #cfcfcf;
			    border-bottom-color: #b5b5b5;
			    -webkit-border-radius: 2px;
			    -moz-border-radius: 2px;
			    border-radius: 2px;
			    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
			    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
			    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
			
			
			}
			
		.sign-in-label {
			width: 180px;
		}
		
		.sign-in-modal-header {
			height: 25px;
		}
		
		.lexicon-icon {
			height: 8px;
			width: 8px;
		}
	}
}

div .autocrawling-form, div .modal{
		table.first-division-table {
			width: 700px;
			float:left;
			padding:10px 20px;
			margin-right: 20px;
		}
		
		table.first-division-table-child-first, .second-division-table-child-first, .second-division-table-child-last{
			padding:10px 20px;
			width: 100%;
		}
		
		.full-width, table.inline-table{
			width: 100%;
		}

		table.first-division-table-child-second, table.scroll {
			border-spacing: 0;
		}

		table.first-division-table-child-second tbody, table.first-division-table-child-second thead, table.scroll tbody, table.scroll thead {
			display: block;
		}

		table.first-division-table-child-second thead tr th {
			height: 30px;
			line-height: 30px;
		}

		table.first-division-table-child-second tbody#first-division-table-child-second-tbody {
			height: 440px;
			overflow-y: auto;
			overflow-x: hidden;
		}

		table.first-division-table-child-second thead th {
			width: 20%;
		}

		table.first-division-table-child-second tbody td:last-child, thead th:last-child{
			border-right: none;
		}

		table.inline-table tbody {
    		height: 100%;
   			overflow-y: hidden;
    		overflow-x: hidden;
		}
		
		table.second-division-table{
			width:680px;
			padding:0px 20px;
		}
		
		table.second-division-table-child-first > .form-label{
			width:201px;
		}
				
		table.scroll thead tr th { 
    		height: 30px;
		}

		table.scroll tbody {
    		height: 250px;
    		overflow-y: -webkit-paged-y;
    		overflow-x: hidden;
		}

		table.scroll tbody td{
   			width: 219.5px;
			border-top: none;
			border-left: 0px;
		}

		table.scroll tbody td:last-child, table.scroll thead th:last-child, table.scroll thead th:last-child {
    		border-right: none;
		}
		
		table.scroll thead {
  			background-color: #f0efef;
  			border-bottom: 1px solid #ddd;
		}
		
		table.scroll th td {
  			float: left;
  			text-align: center;
		}
		
		table.scroll thead th {
  			 width: 220px;
		}
		
		#login-label{
			vertical-align:top;
			padding:14px 7px 0px 0px;
		}

		.with-border{
			border: 1px solid #ccc;
		}

		div.with-margin-bottom-15{
			margin-bottom: 15px;
		}
		
		textarea.form-group, div.with-margin-top-10 {
    		margin-top: 10px;
		}
		
		.form-label{
   			 padding: 10px 10px 0px 20px;
    		 vertical-align: top;
    		 width: 240px;
		}
		
		.form-field{
   			 vertical-align:top;
		}
		
		.checkbox{
   			margin: 10px 10px 0px 0px;
		}
		
		textarea.form-textarea{
			width: 420px; 
			height: 120px;
			resize:none;
		}
		
		#form-textarea-auto-post-form, #form-textarea-post-method, #form-textarea-not-send-password{
			width: 397px;
    		height: 80px;
    		font-size: x-small;	
    	    line-height: 15px;
		}
			
		.caret{
			float:right;
			margin-top:14px;
		}
		
		span.required{
			color: red;
		}
		
		.button-holder {
    		margin: 0px 0px 20px 0px;
		}
		
		.table-bordered .default-background-hover, textarea#form-textarea{
    		background-color: #FFFFFF;
		}	
}

@media (max-width: 1486px) {
	table.first-division-table-child-second{
			margin-bottom: 15px;
		}
}

div #login-form{
	select {
		height: 31px;
		border-radius: 0;
		font-size: 9px;
		width: 253px;
		padding: 6px 12px;
		margin-top: 10px;
        margin-bottom: 10px;
				
		&.input-medium {
			border: none;
		}
	}
}

/*  For vex login form */
.portal-popup > div#main-content{
	overflow-y: hidden !important;
}

/* Tooltip for Vex input fields */
.vextooltip {
    position: relative;
    display: inline-block;
}

.vextooltip .tooltiptext {
    visibility: hidden;
    width: 100%;
    background-color: #ffe;
    color: #000;
    text-align: left;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 105%;
    left: 15%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 11px;
    padding: 10px;
    line-height: normal;
}

.vextooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #e3e4e6 transparent transparent transparent;
}

.vextooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.table-bordered {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    
	thead {
		tr {
			th {
				color: $table-head-font-color;
				background-color: $table-head-background-color;
				border-bottom-width: 0;
				line-height: 18px;
				
				.table-sort-liner {
					text-decoration: underline;
					
					a {
						&:hover {
							color: $table-head-font-color;
						}
					}
				}
			}
		}
	}
	
	tbody {
		tr {
			height: 47px;
			
			td {
				vertical-align: middle;
				padding-top: 3px;
				padding-bottom: 3px;
				text-align: left;
				
				&.last {
					text-align: left;
					
					&.text-right {
						text-align: inherit;
					}
					
					.dropdown-toggle {
						margin-top: 5px;
						margin-bottom: 5px;
					}
				}
			}
			
			&:hover {
				background-color: #edf8fd;
			}
		}
	}
	
	.end-project-background {
		background-color: rgba(255, 0, 0, 0.25);
	}
	
	.end-project-background-hover {
		background-color: rgba(255, 0, 0, 0.125);
	}
	
	.default-background {
		background-color: #FFFFFF;
	}
	
	.default-background-hover {
		background-color: #EDF8FD;
	}
}

.dropdown-menu {
	&.direction-left {
		margin-top: 0;
		margin-right: 2px;
		margin-bottom: 0;
		margin-left: -2px;
	}
	
	.portlet-action-icon {
		font-size: 9px;
		
		.lfr-icon-item {
			&:hover {
				color: white;
			    text-decoration: none;
			    background-color: #0db5e7;
			    background-image: -moz-linear-gradient(top,#0ebdf1,#0caad9);
			    background-image: -webkit-gradient(linear,0 0,0 100%,from(#0ebdf1),to(#0caad9));
			    background-image: -webkit-linear-gradient(top,#0ebdf1,#0caad9);
			    background-image: -o-linear-gradient(top,#0ebdf1,#0caad9);
			    background-image: linear-gradient(to bottom,#0ebdf1,#0caad9);
			    background-repeat: repeat-x;
			}
		}
	}
}

footer {
	text-align: center;
}

.height40px{
	height:40px !important;
}

.timePicker-start-end > input.form-control{
	width: auto!important;
}

.datePicker-start-end > input.input-medium{
	width: auto!important;
	border: 1px solid #ccc !important;
}